/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: white; /* Warna font navbar */
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #ccc; /* Warna font saat dihover atau difokus */
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(2px);
  background-color: rgba(1, 41, 77, 0.95);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

body, html{
    font-family: 'Rubik';
    background-color: #03AEC6;
}

footer{
    background-color:#FDFDFD;
}
section {
    height: 100vh;
    padding: 20px;
    margin: 10px 0;
}
#section1 {
    padding-top: 60px; //Adjust this value based on your navbar height
}
.nav-link.active {
    font-weight: bold;
    color: white;
}